[user]
	name = JoeAngel
	email = joe10330@gmail.com
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[push]
	default = simple
[alias]
	lg = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	co = commit
	st = status
	files = "!f() { git diff --name-status $1^ $1; }; f"
[core]
	editor = vim
