[user]
	name = JoeAngel
	email = joe10330@gmail.com
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[push]
	default = simple
[alias]
	lg = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	lgf = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --name-status
	lgp = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --word-diff -p
	lg-dev = !git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit `git rev-parse --abbrev-ref HEAD`  ^origin/dev
	lgf-dev = !git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --name-status `git rev-parse --abbrev-ref HEAD`  ^origin/dev
	lgp-dev = !git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --word-diff -p `git rev-parse --abbrev-ref HEAD`  ^origin/dev
	co = commit
	st = status
	files = "!f() { git diff --name-status $1^ $1; }; f"
	pp = !git stash && git pull --rebase && git push && git stash apply --index
	push-u = !git push -u origin `git rev-parse --abbrev-ref HEAD`
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
[http]
	cookiefile = /Users/joe/.gitcookies
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
